node_modules
dist
build
coverage
.DS_Store
.env
.env.local
.npm
.eslintcache
*.log
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.example.json

# tsup / typecheck temp files
tsup.config.bundled_*.mjs
.tc.tmp.json
